<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <timestamp key="byDay" datePattern="yyyyMMdd"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/log-${byDay}.log</file>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>
    
  <logger name="com.foxminded.university_timetable" level="INFO"/>

  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>